<app-header></app-header>
<div class="contact-container">
  <div class="container-left">
    <h2>{{ 'CONTACT.header' | translate }}</h2>
    <p class="content">{{ 'CONTACT.content' | translate }}</p>
    <p class="mobile">+34 669 900 734 / +34 600 363 734</p>
    <p class="email">hi@bwowstudio.com</p>
  </div>
  <div class="container-right">
    <form *ngIf="placeholders">
      <div class="input-first-row">
        <input type="text" placeholder="{{placeholders[0]}}">
        <input type="text" placeholder="{{placeholders[1]}}">
      </div>
      <div class="input-second-row">
          <input type="text" placeholder="{{placeholders[2]}}">
          <input type="text" placeholder="{{placeholders[3]}}">
        </div>
      <div class="input-third-row">
        <input type="email" placeholder="{{placeholders[4]}}">
      </div>
      <div class="input-fourth-row">
        <input type="text" placeholder="{{placeholders[5]}}">
        <input type="text" placeholder="{{placeholders[6]}}">
      </div>
      <div class="input-fifth-row">
        <textarea placeholder="{{placeholders[7]}}"></textarea>
      </div>
      <button>{{ 'CONTACT.button-text' | translate }}</button>
    </form>
  </div>
</div>
<app-footer></app-footer>