<div class="header-container">
  <div class="header-container-left">
    <img src="assets/images/logoBlack.svg" alt="logo-black">
  </div>
  <div class="header-container-right-mobile">
    <h3 (click)="languageService.setLanguage('en')">EN</h3>
    <h3 (click)="languageService.setLanguage('es')">ES</h3>
    <img class="burger" src="assets/images/burger.svg">
  </div>
</div>











  <!-- <div class="header-container-right-desktop">
    <div class="header-link">{{ 'HEADER.menu1' | translate }}</div>
    <div class="header-link">{{ 'HEADER.menu2' | translate }}</div>
    <div class="header-link">{{ 'HEADER.menu3' | translate }}</div>
    <div class="header-divider">|</div>
    <div class="header-language-switch" (click)="languageService.setLanguage('en')">EN</div>
    <div class="header-language-switch header-language" (click)="languageService.setLanguage('es')">ES</div>
  </div> -->