<app-header></app-header>
<div class="teams-container" detect-scroll (onScroll)="handleScroll($event)">
  <div class="first-slide">
    <div class="left">
      <h2>{{ 'TEAMS.firstSlide.h2' | translate }}</h2>
      <h3>{{ 'TEAMS.firstSlide.h3' | translate }}</h3>
    </div>
    <div class="right">
      <img src="assets/images/teams1.svg">
    </div>
  </div>
  <div class="second-slide">
    <div class="up">
      <h2>{{ 'TEAMS.secondSlide.h2' | translate }}</h2>
      <h3>{{ 'TEAMS.secondSlide.h3' | translate }}</h3>
    </div>
    <div class="down">
      <img src="assets/images/teams2.svg">
    </div>
  </div>
  <div class="third-slide">
    <div class="left">
        <h2>{{ 'TEAMS.thirdSlide.h2' | translate }}</h2>
        <h3>{{ 'TEAMS.thirdSlide.h3' | translate }}</h3>
    </div>
    <div class="right">
      <img src="assets/images/teams3.svg">
    </div>
  </div>
  <div class="fourth-slide">
    <div class="up">
        <h2>{{ 'TEAMS.fourthSlide.h2' | translate }}</h2>
        <h3>{{ 'TEAMS.fourthSlide.h3' | translate }}</h3>
    </div>
    <div class="down">
      <img src="assets/images/teams4.svg">

    </div>
  </div>
</div>
<div class="fixed-input-container" [hidden]="isHideFixedInput">
  <app-fixed-input></app-fixed-input>
</div>
<div class="footer-container">
  <app-footer></app-footer>
</div>