<div class="header-desktop-container">
  <div class="container-left">
    <img src="assets/images/logoBlack.svg" routerLink="/">
  </div>
  <div class="container-right">
    <div class="right-languages">
      <div class="left-span" [ngClass]="{'active': langEn}">EN</div>
      <div class="right-span" [ngClass]="{'active': langEs}">ES</div>
    </div>
    <div class="burger">
      <img src="assets/images/burger.svg" (click)="menuHandler()">
    </div>
  </div>
  <div class="menu" *ngIf="!isMenuHidden">
    <div class="menu-left" (click)="menuHandler()"></div>
    <div class="menu-right">
      <img src="assets/images/closeIcon.svg" (click)="menuHandler()">
      <p class="anchor" routerLink="/what-we-do"> <span class="dot">・</span>{{ 'HEADER.anchor1' | translate }}</p>
      <p class="secondary-text">{{ 'HEADER.secondary.secondary1' | translate }}</p>
      <p class="secondary-text">{{ 'HEADER.secondary.secondary2' | translate }}</p>
      <p class="secondary-text">{{ 'HEADER.secondary.secondary3' | translate }}</p>
      <p class="secondary-text">{{ 'HEADER.secondary.secondary4' | translate }}</p>
      <p class="secondary-text">{{ 'HEADER.secondary.secondary5' | translate }}</p>

      <p class="anchor" routerLink="/bwowers">{{ 'HEADER.anchor2' | translate }}</p>
      <p class="anchor" routerLink="/contact">{{ 'HEADER.anchor3' | translate }}</p>
      <p class="copyright">2018 Copyright</p>
    </div>
  </div>
</div>