@import '../../../../styles/mixins.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/variables.scss';

.landing-mobile-container{
    width: 100%;
    height: calc(100vh - 74px);
    background-color: black;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    background-image: url('/assets/images/homeTransition.svg');
    background-size: 100vw;
    background-position-x: center;
    background-repeat: no-repeat;
    h2{
        color: white;
        font-size: 62px;
    }
    .oval-container{
        width: calc(100% - 32px);
        position: fixed;
        bottom: -4px;
        display: flex;
        justify-content: center;
    }
}