
<div class="copie-container">
    <div class="copie-left">
        <h2 class="copie-h2">01</h2>
        <h3 class="copie-h3">Diseño de <br class="copie-br"> producto digital</h3>
        <h4 class="copie-h4">Conectamos la idea con el producto final, <br> orientando soluciones a un usuario potencial y <br> testando cada fase de desarrollo de producto.</h4>
        <a [routerLink]="['']" class="copie-a">Crea soluciones para tus usuarios <img src="assets/images/arrow.svg"></a>
    </div>
    <div class="copie-right">
        <img src="assets/images/copieImg.svg">
    </div>
</div>
