@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/palette.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

h2  {
  font-family: $font-family-bold;
  font-size: 54px;
  letter-spacing: 0.8px;
  color: #ffffff;
}
h3{
  font-family: $font-family-regular;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-top: 32px;
}
.product-container {
  width: 100%;
  .first-slide-background{
    width: 100%;
    display: flex;
    background-color: $background-color-line-button;
    justify-content: center;
    height: 550px;
    .first-slide {
      padding: 0 80px;
      box-sizing: border-box;
      max-width: 1440px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .left {
        width: 50%;
      }
      .right {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }
  .second-slide {
    width: 745px;
    margin: 0 auto;
    height: 530px;
    .up {
      height: 50%;
      width: 100%;
      @include flex-center;
    }
    .down {
      height: 50%;
      width: 100%;
      @include flex-center;
      flex-direction: column;
      h2, h3{
        color: black;
      }
    }
  }
  .third-slide-background{
    width: 100%;
    display: flex;
    background-image: url('/assets/images/product/01.svg');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    height: 773px;
    .third-slide {
      display: flex;
      max-width: 1440px;
      padding: 0 80px;
      height: 100%;
      box-sizing: border-box;
      .left {
        width: 50%;
        margin-top: 200px;
      }
      .right {
        width: 50%;
        margin-top: 200px;
        display: flex;
        justify-content: center;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  .fourth-slide {
    width: 745px;
    margin: 0 auto;
    height: 500px;
    .up {
      height: 50%;
      width: 100%;
      h2, h3{
        color: black;
        text-align: center;
      }
    }
    .down {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.fixed-input-container {
  width: 100%;
  bottom: 20px;
  position: fixed;
}
.footer-container {
  width: 100%;
  background-color: black;
}
@media only screen and (min-width: 1280px) {
  .first-slide-background{
    .first-slide {
      padding: 0 56px;
    }
  }
}
@media only screen and (min-width: 1440px) {
  .first-slide-background{
    .first-slide {
      padding: 0 56px;
    }
  }
}