//Maquetado para 700px;
.header-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  box-sizing: border-box;
  padding: 38px 16px 100px;

  .header-container-left{
    width: 30%;
  }
  .header-container-right{
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;

    .header-link, .header-divider, .header-language-switch {
      position: relative;
      top: -2px;
    }
    .header-link{
      margin-right: 32px;
      cursor: pointer;
    }
    .header-link:hover{
      font-weight: bold;
    }
    .header-divider{
      margin-right: 24px;
      color: #fd90a9;
    }
    .header-language-switch{
      margin-right: 10px;
      cursor: pointer;
    }
    .header-language{
      margin-right: 0;
    }
    .header-language:hover{
      font-weight: bold;
    }
  }
}

/* MOBILE */
// @media only screen and (min-width: 321px) {}
// @media only screen and (min-width: 361px) {}
// @media only screen and (min-width: 375px) {}
// @media only screen and (min-width: 400px) {}
// @media only screen and (min-width: 430px) {}
// @media only screen and (min-width: 475px) {}
// @media only screen and (min-width: 500px) {}
// @media only screen and (min-width: 525px) {}
// @media only screen and (min-width: 600px) {}
// @media only screen and (min-width: 700px) {}
// @media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {
  .header-container{
    font-size: 18px;
    padding: 38px 28px 100px;
  }   
  .header-link, .header-divider, .header-language-switch {
    position: relative;
    top: -3px;
  } 
  .header-link{
    margin-right: 48px;
  }
  .header-divider{
    margin-right: 32px;
    color: #fd90a9;
  }
}
@media only screen and (min-width: 1200px) {
  .header-container{
    padding: 38px 56px 100px;
  }   
}
@media only screen and (min-width: 1400px) {}
@media only screen and (min-width: 1657px) {}