<div class="footer-container">
  <div class="footer-container-top">
    <div class="container-left">
      <div class="anchor" routerLink="/what-we-do"><a>{{ 'HEADER.anchor1' | translate }}</a></div>
      <div class="anchor-item" routerLink="/digital-product">{{ 'FOOTER.leftContainer.anchorItem1' | translate }}</div>
      <div class="anchor-item" routerLink="/branding">{{ 'FOOTER.leftContainer.anchorItem2' | translate }}</div>
      <div class="anchor-item" routerLink="/business-design">{{ 'FOOTER.leftContainer.anchorItem3' | translate }}</div>
      <div class="anchor-item" routerLink="/design-system">{{ 'FOOTER.leftContainer.anchorItem4' | translate }}</div>
      <div class="anchor-item" routerLink="/design-teams">{{ 'FOOTER.leftContainer.anchorItem5' | translate }}</div>

    </div>
    <div class="container-center">
      <div class="anchor" routerLink="/bwowers"><a>{{ 'FOOTER.anchor2' | translate }}</a></div>
      <a target="_blank" href="https://medium.com/@bwowstudio"><div class="anchor-item">{{ 'FOOTER.centerContainer.anchorItem1' | translate }}</div></a>
      <a target="_blank" href=" https://www.linkedin.com/company/bwowstudio"><div class="anchor-item">{{ 'FOOTER.centerContainer.anchorItem2' | translate }}</div></a>
      <a target="_blank" href="https://www.behance.net/bwow"><div class="anchor-item">{{ 'FOOTER.centerContainer.anchorItem3' | translate }}</div></a>
      <a target="_blank" href="https://twitter.com/bwowstudio"><div class="anchor-item">{{ 'FOOTER.centerContainer.anchorItem4' | translate }}</div></a>
      <a target="_blank" href="https://www.instagram.com/bwowstudio/"><div class="anchor-item">{{ 'FOOTER.centerContainer.anchorItem5' | translate }}</div></a>
      <a target="_blank" href="https://open.spotify.com/user/7bm4oxjh46jwtuvufqibkt6mk/playlist/1ZqAR1Ldo2v5kkEmrTHRPy?si=AMH2nGB8R2-bQlXD8Sadyw"><div class="anchor-item">{{ 'FOOTER.centerContainer.anchorItem6' | translate }}</div></a>
    </div>
    <div class="container-right">
      <div class="anchor" routerLink="/bwowers"><a>{{ 'HEADER.anchor2' | translate }}</a></div>
      <div class="anchor" routerLink="/contact"><a>{{ 'HEADER.anchor3' | translate }}</a></div>

    </div>
  </div>
  <div class="footer-container-bottom">
    <p>+34 669 900 734 / +34 600 363 734</p>
    <p class="email">hi@bwowstudio.com</p>
  </div>
</div>