@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/palette.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

h2  {
  font-family: $font-family-bold;
  font-size: 54px;
  letter-spacing: 0.8px;
  color: #ffffff;
}
h3{
  font-family: $font-family-regular;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-top: 32px;
}
.branding-container {
  width: 100%;
  min-height: 1196px;
  .first-slide-background{
    width: 100%;
    background-image: url('/assets/images/branding/01.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 1196px;
    .first-slide{
      padding: 0 80px;
      box-sizing: border-box;
      max-width: 1440px;
      margin: 0 auto;
      height: 30%;
      display: flex;
      .left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
      }
      .right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .first-slide-down{
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      h2, h3{
        width: 745px;
        margin: 0 auto;
      }
      h2{
        text-align:center;
      }
      h3{
        margin-top: 16px;
      }
    }
  }
  .third-slide{
    padding: 0 80px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    height: 30%;
    display: flex;
    .left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      h2, h3{
        color: black;
      }
    }
    .right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .fourth-slide{
    padding-top: 150px;
    box-sizing: border-box;
    width: 100%;
    background-image: url('/assets/images/branding/02.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 722px;
    h2, h3{
      color: black;
      width: 745px;
      margin: 0 auto;
    }
    h2{
      text-align:center;
    }
    h3{
      margin-top: 16px;
    }
  }
}
.fixed-input-container {
  width: 100%;
  bottom: 20px;
  position: fixed;
}
.footer-container {
  width: 100%;
  background-color: black;
}
@media only screen and (min-width: 1280px) {
  .branding-container{
    .first-slide-background{
      .first-slide {
        padding: 0 56px;
      }
    }
  }
}
@media only screen and (min-width: 1440px) {
}