<app-header></app-header>
<div class="branding-container" detect-scroll (onScroll)="handleScroll($event)">
  <div class="first-slide-background">
    <div class="first-slide">
      <div class="left">
        <h2>{{ 'BRANDING.firstSlide.h2' | translate }}</h2>
        <h3>{{ 'BRANDING.firstSlide.h3' | translate }}</h3>
      </div>
      <div class="right">
        <img src="assets/images/branding1.svg">
      </div>
    </div>
    <div class="first-slide-down">
      <h2 [@scrollAnimation]="firstTitle" item="animation" data="firstTitle">{{ 'BRANDING.secondSlide.h2' | translate }}</h2>
      <h3 [@scrollAnimation]="firstSubtitle" item="animation" data="firstSubtitle">{{ 'BRANDING.secondSlide.h3' | translate }}</h3>
    </div>
  </div>
  <div class="third-slide">
    <div class="left">
      <h2 [@scrollAnimation]="secondTitle" item="animation" data="secondTitle">{{ 'BRANDING.thirdSlide.h2' | translate }}</h2>
      <h3 [@scrollAnimation]="secondSubtitle" item="animation" data="secondSubtitle">{{ 'BRANDING.thirdSlide.h3' | translate }}</h3>
    </div>
    <div class="right">
      <img src="assets/images/branding3.svg" [@scrollAnimation]="rowImage" item="animation" data="rowImage">
    </div>
  </div>
  <div class="fourth-slide">
      <h2 [@scrollAnimation]="thirdTitle" item="animation" data="thirdTitle">{{ 'BRANDING.fourthSlide.h2' | translate }}</h2>
      <h3 [@scrollAnimation]="thirdSubtitle" item="animation" data="thirdSubtitle">{{ 'BRANDING.fourthSlide.h3' | translate }}</h3>
  </div>
</div>
<div class="fixed-input-container" [hidden]="isHideFixedInput">
  <app-fixed-input></app-fixed-input>
</div>
<div class="footer-container">
  <app-footer></app-footer>
</div>