<div class="contact-container">
  <div class="container-left">
    <h2>{{ 'CONTACT.header' | translate }}</h2>
    <p class="content">{{ 'CONTACT.content' | translate }}</p>
    <p class="mobile">+34 669 966 589 / +34 680 201 002</p>
    <a class="email" href="mailto:hi@bwowstudio.com">hi@bwowstudio.com</a>
  </div>
  <div class="container-right">
    <form *ngIf="placeholders">
      <div class="input-first-row">
        <input [ngClass]="{'errorInput': nameError}" type="text" placeholder="{{placeholders[0]}}" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        <input [ngClass]="{'errorInput': lastNameError}" type="text" placeholder="{{placeholders[1]}}" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="input-second-row">
          <input type="text" placeholder="{{placeholders[2]}}" [(ngModel)]="company" [ngModelOptions]="{standalone: true}">
          <input type="text" placeholder="{{placeholders[3]}}" [(ngModel)]="position" [ngModelOptions]="{standalone: true}">
        </div>
      <div class="input-third-row">
        <input [ngClass]="{'errorInput': emailError}" type="email" placeholder="{{placeholders[4]}}" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="input-fourth-row">
        <input [ngClass]="{'errorInput': phoneError}" type="text" placeholder="{{placeholders[5]}}" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="{{placeholders[6]}}" [(ngModel)]="country" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="input-fifth-row">
        <textarea placeholder="{{placeholders[7]}}" [(ngModel)]="message" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <button (click)="sendEmail()">{{ 'CONTACT.button-text' | translate }}</button>
    </form>
  </div>
</div>
<div class="footer-container">
  <app-footer></app-footer>
</div>
<app-message-confirm [@showAnimation]="confirmMessage" (onClose)="closePopUp()"></app-message-confirm>