<app-header></app-header>
<div class="controls-container">
  <app-controls (page)="setText($event)"></app-controls>
</div>
<div class="home-container">
  <div class="text-container">
    <h3 (click)="navigate()">{{ home.h3TextFirstLine }} <br> {{ home.h3TextSecondLine }}</h3>
    <h4>{{ home.h4Text }}</h4>
    <a (click)="navigate()">{{ home.aTextMobile }} <img src="assets/images/arrow.svg"></a>
    <br>
  </div>
  <div class="image-container">
    <img class="homeImg" src="{{imageUrl}}">
  </div>
  <div class="fakediv">
    
  </div>
</div>
<div class="fixed-input-container">
  <app-fixed-input></app-fixed-input>
</div>