@font-face {
  font-family: Regular;
  src: url("/assets/fonts/regular.otf") format("opentype");
}
@font-face {
  font-family: Thin;
  src: url("/assets/fonts/thin.otf") format("opentype");
}
@font-face {
  font-family: Bold;
  src: url("/assets/fonts/extraBold.otf") format("opentype");
}
@font-face {
  font-family: Heavy;
  src: url("/assets/fonts/heavy.otf") format("opentype");
}
@font-face {
  font-family: Medium;
  src: url("/assets/fonts/medium.otf") format("opentype");
}
$font-family-thin: 'Thin', serif;
$font-family-regular: 'Regular', serif;
$font-family-medium: 'Medium', serif;
$font-family-bold: 'Bold', serif;
$font-family-heavy: 'Heavy', serif;
