@font-face {
    font-family: AxiRegular;
    src: url("/assets/fonts/axiforma/regular.otf") format("opentype");
}

body {
    font-family: 'AxiRegular', serif;
}
.input-reset-styles {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
a {
    text-decoration: none;
}