// CONTROLS
$controls-resolution-less-than-768-number-margin-left: 22px;
$controls-resolution-768-number-margin-left: 40px;
$controls-resolution-1024-number-margin-left: 20px;
$controls-resolution-1280-number-margin-left: 20px;
$controls-resolution-1440-number-margin-left: 34px;

// RESOLUTIONS
$resolution-320-width: 320px;
$resolution-360-width: 360px;
$resolution-375-width: 375px;
$resolution-411-width: 411px;
$resolution-600-width: 600px;
$resolution-768-width: 768px;
$resolution-1024-width: 1024px;
$resolution-1280-width: 1280px;
$resolution-1440-width: 1440px;
// HEADER
