// CONTROLS
$controls-resolution-less-than-768-number-margin-left: 22px;
$controls-resolution-768-number-margin-left: 40px;
$controls-resolution-1024-number-margin-left: 20px;
$controls-resolution-1280-number-margin-left: 20px;
$controls-resolution-1440-number-margin-left: 34px;

// RESOLUTIONS
$resolution-1024-width: 1024px;
$resolution-1280-width: 1280px;
$resolution-1440-width: 1440px;

// HEADER
$header-resolution-less-than-1024-padding-left-right: 56px;
$header-resolution-1024-padding-left-right: 80px;
$header-resolution-1280-padding-left-right: 80px;
$header-resolution-1440-padding-left-right: 56px;

$header-resolution-less-than-1024-padding-top: 45px;
$header-resolution-1024-padding-top: 45px;
$header-resolution-1280-padding-top: 45px;
$header-resolution-1440-padding-top: 45px;

$header-resolution-less-than-1024-padding-bottom: 100px;
$header-resolution-1024-padding-bottom: 70px;
$header-resolution-1280-padding-bottom: 100px;
$header-resolution-1440-padding-bottom: 135px;