$tablet-font-size-h2: 84px;
$tablet-font-weight-h2: bolder;
$tablet-padding-top: 128px;

$tablet-font-size-h3: 38px;

$tablet-font-size-h4: 16px;
$tablet-font-size-a: 16px;

$tablet-margin-top-h4: 24px;
$tablet-margin-top-a: 24px;
$tablet-padding-container: 60px;



$margin-left-number: 22px;
$mobile-padding-header: 16px;
$mobile-margin-bottom-header: 80px;