<div class="header-desktop-container">
  <div class="container-left">
    <img src="assets/images/logoBlack.svg">
  </div>
  <div class="container-right">
    <div class="right-anchors">
      <div class="anchor1"><a>{{ 'HEADER.anchor1' | translate }}</a></div>
      <div class="anchor2"><a>{{ 'HEADER.anchor2' | translate }}</a></div>
      <div class="anchor3"><a>{{ 'HEADER.anchor3' | translate }}</a></div>
    </div>
    <div class="right-divider"></div>
    <div class="right-languages">
      <div class="left-span">EN</div>
      <div class="right-span">ES</div>
    </div>
  </div>
</div>