@import '../../../../styles/palette.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

.header-desktop-container {
  color: #4A4A4A;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  @include no-select;
  .container-left {
    width: 20%;
    height: 100%;
    img {
      cursor: pointer;
      padding-left: 12px;
    }
  }
  .container-right {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .right-anchors {
      display: flex;
      height: 100%;
      a {
        transition: font-weight .2s ease-out;
      }
      .anchor1,
      .anchor2,
      .anchor3 {
        margin-left: 36px;
        text-align: right;
        font-size: $header-font-size;
        letter-spacing: 0.33px;
        line-height: 32px;
      }
      .anchor1 {
        width: 195px;
        position: relative;
        .dropdownContainer{
          position: absolute;
          width: 280px;
          height: 10px;
          left: -20px;
          z-index: 2;
          .anchor1Triangle{
            position: absolute;
            width: 10px;
            height: 10px;
            left: 135px;
            background: white;
            top: 2px;
            transform: rotate(45deg);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          }
          .anchor1Dropdown{
            position: absolute;
            width: 280px;
            height: 220px;
            top: 7px;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            border-radius: 4px;
            padding: 0 24px 24px;
            box-sizing: border-box;
            .secondary-text{
              color: #4A4A4A;
              font-size: 16px;
              font-weight: 300;
              line-height: 2;
              letter-spacing: 0.3px;
              text-align: left;
              margin-top: 10px;
              cursor: pointer;
              font-family: $font-family-regular;
            }
            .active {
              font-family: $font-family-bold;
              cursor: pointer;
            }
            .secondary-text:hover {
              font-family: $font-family-bold;
              cursor: pointer;
            }

          }
        }
      }
      .anchor2 {
        width: 116px;
      }
      .anchor3 {
        width: 153px;
      }
      a:hover {
        font-weight: bolder;
        cursor: pointer;
      }
      .active {
        font-family: $font-family-bold;
        cursor: pointer;
      }
    }
    .right-divider {
      width: 1px;
      height: 17px;
      background-color: #FD90A9;
      margin-left: 41px;
    }
    .right-languages {
      width: 93px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      .left-span {
        width: 70%;
        text-align: right;
        font-size: $header-font-size;
        
        letter-spacing: 0.33px;
        cursor: pointer;
      }
      .right-span {
        width: 30%;
        text-align: right;
        font-size: $header-font-size;
        
        letter-spacing: 0.33px;
        margin-left: 3px;
        cursor: pointer;
      }
      .left-span:hover {
        font-family: $font-family-bold;
      }
      .right-span:hover {
        font-family: $font-family-bold;
      }
      .active{
        font-family: $font-family-bold;
        cursor: initial;
      }
    }
  }
}
.secondary-container{
  width: 100%;
  background-color: #FC4E74;
  .secondaryPage{
    background-color: #FC4E74;
    color: white;
  }
}
@media only screen and (min-width: 1024px) {
  .header-desktop-container {
    padding: $header-resolution-1024-padding-top 78px $header-resolution-1024-padding-bottom $header-resolution-1024-padding-left-right;
  }
}
@media only screen and (min-width: 1280px) {
  .header-desktop-container {
    padding: $header-resolution-1280-padding-top $header-resolution-1280-padding-left-right $header-resolution-1280-padding-bottom;
  }
}
@media only screen and (min-width: 1440px) {
  .header-desktop-container {
    width: $resolution-1440-width;
    margin: auto;
    padding: $header-resolution-1440-padding-top $header-resolution-1440-padding-left-right $header-resolution-1440-padding-bottom;
  }
}
