<div class="header-desktop-container">
  <div class="container-left">
    <img src="assets/images/logoBlack.svg" routerLink="/">
  </div>
  <div class="container-right">
    <div class="right-anchors">
      <div class="anchor1" routerLink="/what-we-do"><a>{{ 'HEADER.anchor1' | translate }}</a></div>
      <div class="anchor2" routerLink="/bwowers"><a>{{ 'HEADER.anchor2' | translate }}</a></div>
      <div class="anchor3" routerLink="/contact"><a>{{ 'HEADER.anchor3' | translate }}</a></div>
    </div>
    <div class="right-divider"></div>
    <div class="right-languages">
      <div class="left-span" [ngClass]="{'active': langEn}">EN</div>
      <div class="right-span" [ngClass]="{'active': langEs}">ES</div>
    </div>
  </div>
</div>