@import '../../../styles/palette.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';
$square-size: 25px;
$first-square-margin-top: 10px;
$square-big-size: 120px;
$square-margin-left: 15px;
$position-zero: -188px;
$position-one: -153px;
$position-two: -128px;
$position-four: 10px;
$position-five: 35px;
$position-six: 60px;

.number {
  height: 70px;
  margin-left: $controls-resolution-less-than-768-number-margin-left;
  font-size: 84px;
  font-family: $font-family-heavy;
  letter-spacing: 1.19px;
  color: $secondary-color;
}

.menu-controls-container {
  width: 40px;
  height: 70px;
  display: flex;
  .menu-controls {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    img {
      width: 40px;
      height: 35px;
    }
    .menu-line {
      width: 85%;
      border: 1px solid $background-color-line-button;
      margin: 0;
    }
  }
}

.controls-container{
  width: 200px;
  position: absolute;
  display: none;
}
.square{
  width: $square-size;
  height: $square-size;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 24px;
  font-family: $font-family-heavy;
  letter-spacing: 0.3px;
  left: $square-margin-left;
}
.one{
  top: $first-square-margin-top;
  color: rgba(252, 33, 84, 0.5);
}
.two{
  top: $square-size*1+$first-square-margin-top;
  color: rgba(252, 33, 84, 0.5);
}
.three{
  top: $square-size*2+$first-square-margin-top;
  color: rgba(252, 33, 84, 0.5);

}
.four{
  top: $square-size*3+$first-square-margin-top;
  color: rgba(252, 33, 84, 0.5);
}

.five{
  top: $square-size*4+$first-square-margin-top;
  color: rgba(252, 33, 84, 0.5);
}

.activeOneFromTwo{ animation: activeOneFromTwo 0.5s steps(59) forwards; }
@keyframes activeOneFromTwo {
  from { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}

.lastActiveOneUpToTwo { animation: lastActiveOneUpToTwo 0.5s steps(59) forwards; }
@keyframes lastActiveOneUpToTwo {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
}

.lastActiveOneUpToOne { animation: lastActiveOneUpToOne 0.5s steps(59) forwards; }
@keyframes lastActiveOneUpToOne {
  from { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
  to { opacity: 0.5; width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px;}
}

.lastActiveOneUpToZero { animation: lastActiveOneUpToZero 0.5s steps(59) forwards; }
@keyframes lastActiveOneUpToZero {
  from { width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-zero; left: $square-margin-left; font-size: 24px; opacity: 0;}
}

.lastActiveOneUpToTwoFromOne { animation: lastActiveOneUpToTwoFromOne 0.5s steps(59) forwards; }
  @keyframes lastActiveOneUpToTwoFromOne {
    from { opacity: 0.5; width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px;}
    to { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
  }

.lastActiveOneUpToOneFromZero { animation: lastActiveOneUpToOneFromZero 0.5s steps(59) forwards; }
  @keyframes lastActiveOneUpToOneFromZero {
    from { width: $square-size; height: $square-size; top: $position-zero; left: $square-margin-left; font-size: 24px;}
    to { width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px; opacity: 0.5}
  }

.keepOneInZero { animation: keepOneInZero 0.5s steps(59) forwards; }
  @keyframes keepOneInZero {
    from { width: $square-size; height: $square-size; top: $position-zero; left: $square-margin-left; font-size: 24px; opacity: 0;}
    to { width: $square-size; height: $square-size; top: $position-zero; left: $square-margin-left; font-size: 24px; opacity: 0;}
  }



.activeTwoFromTwo{ animation: activeTwoFromTwo 0.5s steps(59) forwards; }
@keyframes activeTwoFromTwo {
  from { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}

.activeTwoFromFour{ animation: activeTwoFromFour 0.5s steps(59) forwards; }
@keyframes activeTwoFromFour {
  from { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}

.lastActiveTwoDownToFour{ animation: lastActiveTwoDownToFour 0.5s steps(59) forwards; }
@keyframes lastActiveTwoDownToFour {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
}

.lastActiveTwoUpToTwo{ animation: lastActiveTwoUpToTwo 0.5s steps(59) forwards; }
@keyframes lastActiveTwoUpToTwo {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
}

.lastActiveTwoUpToOne{ animation: lastActiveTwoUpToOne 0.5s steps(59) forwards; }
@keyframes lastActiveTwoUpToOne {
  from { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
  to { opacity: 0.5; width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px;}
}

.lastActiveTwoUpToZero{ animation: lastActiveTwoUpToZero 0.5s steps(59) forwards; }
@keyframes lastActiveTwoUpToZero {
  from { width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-zero; left: $square-margin-left; font-size: 24px; opacity: 0;}
}

.lastActiveTwoUpToOneFromZero { animation: lastActiveTwoUpToOneFromZero 0.5s steps(59) forwards; }
@keyframes lastActiveTwoUpToOneFromZero {
  from { width: $square-size; height: $square-size; top: $position-zero; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px; opacity: 0.5;}
}

.lastActiveTwoUpToTwoFromOne{ animation: lastActiveTwoUpToTwoFromOne 0.5s steps(59) forwards; }
@keyframes lastActiveTwoUpToTwoFromOne {
  from { opacity: 0.5; width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
}



.lastActiveThreeDownToFive{ animation: lastActiveThreeDownToFive 0.5s steps(59) forwards; }
@keyframes lastActiveThreeDownToFive {
  from { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
  to { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px;}
}

.lastActiveThreeDownToFourFromFive{ animation: lastActiveThreeDownToFourFromFive 0.5s steps(59) forwards; }
@keyframes lastActiveThreeDownToFourFromFive {
  from { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
}

.lastActiveThreeDownToFour{ animation: lastActiveThreeDownToFour 0.5s steps(59) forwards; }
@keyframes lastActiveThreeDownToFour {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
}

.activeThreeFromFour{ animation: activeThreeFromFour 0.5s steps(59) forwards; }
@keyframes activeThreeFromFour {
  from { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}

.activeThreeFromTwo{ animation: activeThreeFromTwo 0.5s steps(59) forwards; }
@keyframes activeThreeFromTwo {
  from { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}

.lastActiveThreeUpToTwo{ animation: lastActiveThreeUpToTwo 0.5s steps(59) forwards; }
@keyframes lastActiveThreeUpToTwo {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
}

.lastActiveThreeUpToOne{ animation: lastActiveThreeUpToOne 0.5s steps(59) forwards; }
@keyframes lastActiveThreeUpToOne {
  from { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
  to { opacity: 0.5; width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px;}
}

.lastActiveThreeUpToTwoFromOne{ animation: lastActiveThreeUpToTwoFromOne 0.5s steps(59) forwards; }
@keyframes lastActiveThreeUpToTwoFromOne {
  from { opacity: 0.5; width: $square-size; height: $square-size; top: $position-one; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
}



.activeFourFromTwo{ animation: activeFourFromTwo 0.5s steps(59) forwards; }
@keyframes activeFourFromTwo {
  from { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}

.activeFourFromFour{ animation: activeFourFromFour 0.5s steps(59) forwards; }
@keyframes activeFourFromFour {
  from { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}

.lastActiveFourUpToTwo{ animation: lastActiveFourUpToTwo 0.5s steps(59) forwards; }
@keyframes lastActiveFourUpToTwo {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $position-two; left: $square-margin-left; font-size: 24px;}
}

.lastActiveFourDownToFour{ animation: lastActiveFourDownToFour 0.5s steps(59) forwards; }
@keyframes lastActiveFourDownToFour {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
}

.lastActiveFourDownToFive{ animation: lastActiveFourDownToFive 0.5s steps(59) forwards; }
@keyframes lastActiveFourDownToFive {
  from { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
  to { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px;}
}

.lastActiveFourDownToSix{ animation: lastActiveFourDownToSix 0.5s steps(59) forwards; }
@keyframes lastActiveFourDownToSix {
  from { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-six; left: $square-margin-left; font-size: 24px; opacity: 0;}
}

.lastActiveFourDownToFiveFromSix{ animation: lastActiveFourDownToFiveFromSix 0.5s steps(59) forwards; }
@keyframes lastActiveFourDownToFiveFromSix {
  from { width: $square-size; height: $square-size; top: $position-six; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px; opacity: 0.5}
}

.lastActiveFourDownToFourFromFive{ animation: lastActiveFourDownToFourFromFive 0.5s steps(59) forwards; }
@keyframes lastActiveFourDownToFourFromFive {
  from { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
}



.activeFiveFromFour{ animation: activeFiveFromFour 0.5s steps(59) forwards; }
@keyframes activeFiveFromFour {
  from { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}

.lastActiveFiveDownToFour{ animation: lastActiveFiveDownToFour 0.5s steps(59) forwards; }
@keyframes lastActiveFiveDownToFour {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
}

.lastActiveFiveDownToFive { animation: lastActiveFiveDownToFive 0.5s steps(59) forwards; }
@keyframes lastActiveFiveDownToFive {
  from { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px;}
  to { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px;}
}

.lastActiveFiveDownToSix { animation: lastActiveFiveDownToSix 0.5s steps(59) forwards; }
@keyframes lastActiveFiveDownToSix {
  from { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px;}
  to { width: $square-size; height: $square-size; top: $position-six; left: $square-margin-left; font-size: 24px; opacity: 0;}
}

.keepFiveInSix { animation: keepFiveInSix 0.5s steps(59) forwards; }
@keyframes keepFiveInSix {
  from { width: $square-size; height: $square-size; top: $position-six; left: $square-margin-left; font-size: 24px; opacity: 0;}
  to { width: $square-size; height: $square-size; top: $position-six; left: $square-margin-left; font-size: 24px; opacity: 0;}
}

.lastActiveFiveDownToFiveFromSix { animation: lastActiveFiveDownToFiveFromSix 0.5s steps(59) forwards; }
@keyframes lastActiveFiveDownToFiveFromSix {
  from { width: $square-size; height: $square-size; top: $position-six; left: $square-margin-left; font-size: 24px; }
  to { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px;}
}

.lastActiveFiveDownToFourFromFive { animation: lastActiveFiveDownToFourFromFive 0.5s steps(59) forwards; }
@keyframes lastActiveFiveDownToFourFromFive {
  from { opacity: 0.5; width: $square-size; height: $square-size; top: $position-five; left: $square-margin-left; font-size: 24px; }
  to { width: $square-size; height: $square-size; top: $position-four; left: $square-margin-left; font-size: 24px; opacity: 1;}
}


.activeThreeFromTwo{ animation: activeThreeFromTwo 0.5s steps(59) forwards; }
.activeFourFromTwo{ animation: activeFourFromTwo 0.5s steps(59) forwards; }
.activeFiveFromTwo{ animation: activeFiveFromTwo 0.5s steps(59) forwards; }


.activeTwoFromFour{ animation: activeTwoFromFour 0.5s steps(59) forwards; }
.activeThreeFromFour{ animation: activeThreeFromFour 0.5s steps(59) forwards; }
.activeFourFromFour{ animation: activeFourFromFour 0.5s steps(59) forwards; }
.activeFiveFromFour{ animation: activeFiveFromFour 0.5s steps(59) forwards; }

.lastActiveDownOne{
  animation: lastActiveDownOne 0.5s steps(59) forwards;
}
.lastActiveDownTwo{
  animation: lastActiveDownTwo 0.5s steps(59) forwards;
}
.lastActiveDownThree{
  animation: lastActiveDownThree 0.5s steps(59) forwards;
}
.lastActiveDownFour{
  animation: lastActiveDownFour 0.5s steps(59) forwards;
}
.lastActiveDownFive{
  animation: lastActiveDownFive 0.5s steps(59) forwards;
}
.lastActiveUpOne{
  animation: lastActiveUpOne 0.5s steps(59) forwards;
}

@keyframes activeOne {
  from { width: $square-size; height: $square-size; top: $first-square-margin-top; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}
@keyframes lastActiveDownOne {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $first-square-margin-top; left: $square-margin-left; font-size: 24px;}
}
@keyframes lastActiveUpOne {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $first-square-margin-top; left: $square-margin-left; font-size: 24px;}
}

@keyframes activeTwo {
  from { width: $square-size; height: $square-size; top: $square-size*1+$first-square-margin-top; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}
@keyframes lastActiveDownTwo {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $square-size*1+$first-square-margin-top; left: $square-margin-left; font-size: 24px;}
}

@keyframes activeThree {
  from { width: $square-size; height: $square-size; top: $square-size*2+$first-square-margin-top; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}
@keyframes lastActiveDownThree {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $square-size*2+$first-square-margin-top; left: $square-margin-left; font-size: 24px;}
}

@keyframes activeFour {
  from { width: $square-size; height: $square-size; top: $square-size*3+$first-square-margin-top; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}
@keyframes lastActiveDownFour {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $square-size*3+$first-square-margin-top; left: $square-margin-left; font-size: 24px;}
}

@keyframes activeFive {
  from { width: $square-size; height: $square-size; top: $square-size*4+$first-square-margin-top; left: $square-margin-left; font-size: 24px;}
  to { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
}
@keyframes lastActiveDownFive {
  from { width: $square-big-size; height: $square-big-size; top: -95px; left: 89px; display: flex; justify-content: flex-start; font-size: 80px; color: #FC2154;}
  to { width: $square-size; height: $square-size; top: $square-size*4+$first-square-margin-top; left: $square-margin-left; font-size: 24px;}
}
@media only screen and (min-width: $resolution-360-width) {
  .menu-controls-container {
    .menu-controls {
      img {
        width: 40px;
        height: 35px;
      }
    }
  }
}

@media only screen and (min-width: $resolution-768-width) {
  .number {
    margin-left: $controls-resolution-768-number-margin-left;
  }
}

@media only screen and (min-width: $resolution-1024-width) {
  .number {
    margin-left: $controls-resolution-1024-number-margin-left;
    font-size: 80px;
    letter-spacing: 1.7px;
    display: none;
  }
  .menu-controls-container {
    height: 98px;
    .menu-controls {
      img {
        width: 56px;
        height: 49px;
      }
    }
  }
  .controls-container{
    display: block;
  }
}

@media only screen and (min-width: $resolution-1280-width) {
  .number {
    margin-left: $controls-resolution-1280-number-margin-left;
  }
}

@media only screen and (min-width: $resolution-1440-width) {
  .number {
    margin-left: $controls-resolution-1440-number-margin-left;
    height: 98px;
  }
}