<div class="menu-controls-container">
    <div class="menu-controls">
        <img src="assets/images/buttonUp.png" (click)="menuDown()">
        <hr class="menu-line">
        <img src="assets/images/buttonDown.png" (click)="menuUp()">
    </div>
    <p (click)="navigate()" class="number">0{{number}}</p>
</div>
<div class="controls-container" >
    <div [ngClass]="{'square': true, 'one': true, 'activeOneFromTwo': activeOneFromTwo, 'lastActiveOneUpToTwo': lastActiveOneUpToTwo, 'lastActiveOneUpToOne': lastActiveOneUpToOne, 'lastActiveOneUpToZero': lastActiveOneUpToZero, 'lastActiveOneUpToTwoFromOne': lastActiveOneUpToTwoFromOne, 'lastActiveOneUpToOneFromZero': lastActiveOneUpToOneFromZero, 'keepOneInZero': keepOneInZero}">01</div>
    <div [ngClass]="{'square': true, 'two': true, 'activeTwoFromTwo': activeTwoFromTwo, 'activeTwoFromFour': activeTwoFromFour, 'lastActiveTwoUpToTwo': lastActiveTwoUpToTwo, 'lastActiveTwoUpToOne': lastActiveTwoUpToOne, 'lastActiveTwoUpToZero': lastActiveTwoUpToZero, 'lastActiveTwoDownToFour': lastActiveTwoDownToFour, 'lastActiveTwoUpToOneFromZero': lastActiveTwoUpToOneFromZero, 'lastActiveTwoUpToTwoFromOne': lastActiveTwoUpToTwoFromOne}">02</div>
    <div [ngClass]="{'square': true, 'three': true, 'activeThreeFromTwo': activeThreeFromTwo, 'activeThreeFromFour': activeThreeFromFour, 'lastActiveThreeUpToTwo': lastActiveThreeUpToTwo, 'lastActiveThreeUpToOne': lastActiveThreeUpToOne, 'lastActiveThreeDownToFour': lastActiveThreeDownToFour, 'lastActiveThreeDownToFive': lastActiveThreeDownToFive, 'lastActiveThreeDownToFourFromFive': lastActiveThreeDownToFourFromFive, 'lastActiveThreeUpToTwoFromOne': lastActiveThreeUpToTwoFromOne }">03</div>
    <div [ngClass]="{'square': true, 'four': true, 'activeFourFromTwo': activeFourFromTwo, 'activeFourFromFour': activeFourFromFour, 'lastActiveFourUpToTwo': lastActiveFourUpToTwo, 'lastActiveFourDownToFour': lastActiveFourDownToFour, 'lastActiveFourDownToFive': lastActiveFourDownToFive, 'lastActiveFourDownToSix': lastActiveFourDownToSix, 'lastActiveFourDownToFiveFromSix': lastActiveFourDownToFiveFromSix, 'lastActiveFourDownToFourFromFive': lastActiveFourDownToFourFromFive}">04</div>
    <div [ngClass]="{'square': true, 'five': true, 'activeFiveFromFour': activeFiveFromFour, 'lastActiveFiveDownToFour': lastActiveFiveDownToFour, 'lastActiveFiveDownToFive': lastActiveFiveDownToFive, 'lastActiveFiveDownToSix': lastActiveFiveDownToSix, 'keepFiveInSix': keepFiveInSix, 'lastActiveFiveDownToFourFromFive': lastActiveFiveDownToFourFromFive, 'lastActiveFiveDownToFiveFromSix': lastActiveFiveDownToFiveFromSix}">05</div>
</div>

