@import '../../../styles/palette.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.number {
  height: 70px;
  margin-left: $controls-resolution-less-than-768-number-margin-left;
  font-size: 84px;
  font-family: $font-family-heavy;
  color: #FC2154;
  letter-spacing: 1.19px;
}

.menu-controls-container {
  width: 40px;
  height: 70px;
  display: flex;
  .menu-controls {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .menu-line {
      height: 1px;
      width: 90%;
      background-color: $background-color-line-button;
      border-style: none;
      margin: 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  .number {
    margin-left: $controls-resolution-768-number-margin-left;
  }
}

@media only screen and (min-width: 1024px) {
  .number {
    margin-left: $controls-resolution-1024-number-margin-left;
    font-size: 120px;
    letter-spacing: 1.7px;
  }
  .menu-controls-container {
    height: 98px;
    .menu-controls {
      img {
        width: 56px;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .number {
    margin-left: $controls-resolution-1280-number-margin-left;
  }
}

@media only screen and (min-width: 1440px) {
  .number {
    margin-left: $controls-resolution-1440-number-margin-left;
    height: 98px;
  }
}