@import '../../../../styles/palette.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

$resolution-1024-width: 1024px;
$resolution-1280-width: 1280px;
$resolution-1440-width: 1440px;

$fixed-input-container-1024-margin-left-right: 80px;
$fixed-input-container-1280-margin-left-right: 80px;
$fixed-input-container-1440-margin-left-right: 56px;

$fixed-input-container-1024-padding-left-right: 32px;

.fixed-input-container {
  width: $resolution-1024-width;
  height: 88px;
  .fixed-input-container {
    width: calc(#{$resolution-1024-width} - #{$fixed-input-container-1024-margin-left-right*2});
    height: 88px;
    margin: 0 $fixed-input-container-1024-margin-left-right 0;
    padding: 0 $fixed-input-container-1024-padding-left-right;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    box-sizing: border-box;

    .container-left {
      height: 100%;
      font-size: 24px;
      color: #0F0506;
      letter-spacing: 0.44px;
      line-height: 32px;
      display: flex;
      align-items: center;
      @include no-select;
    }
    .container-center {
      height: 100%;
      display: flex;
      align-items: center;
      input {
        width: 192px;
        height: 50px;
        background: rgba(106, 43, 58, 0.02);
        box-shadow: inset 0 0 0 1px rgba(33, 34, 64, 0.06);
        border-radius: 8px;
        font-size: 18px;
        letter-spacing: 0.33px;
        line-height: 18px;
      }
      .left-input {

      }
      ::placeholder {
        font-size: 18px;
        color: #AEA3A4;
        letter-spacing: 0.33px;
        line-height: 18px;
        padding: 10px;
      }
    }
    .container-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      button {
        background-color: #0F0506;
        border-radius: 8px;
        width: 171px;
        height: 50px;
        border: none;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.33px;
        line-height: 32px;
        cursor: pointer;
        @include no-select;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .fixed-input-container {
    width: $resolution-1280-width;
    .fixed-input-container {
      width: calc(#{$resolution-1280-width} - #{$fixed-input-container-1280-margin-left-right*2});
      margin: 0 $fixed-input-container-1280-margin-left-right 0;
      justify-content: space-between;
      .container-left {
      }
      .container-center {
        input {
          width: 222px;
        }
        .left-input {
        }
      }
      .container-right {
        button {
          width: 202px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .fixed-input-container {
    width: $resolution-1440-width;
    margin: auto;
    position: relative;
    .fixed-input-container {
      width: calc(#{$resolution-1440-width} - #{$fixed-input-container-1440-margin-left-right*2});
      margin: 0 $fixed-input-container-1440-margin-left-right 0;
      .container-left {
      }
      .container-center {
        input {
          width: 282px;
        }
        .left-input {
        }
      }
      .container-right {
        button {
          width: 230px;
        }
      }
    }
  }
}