<div class="fixed-input-container">
  <div class="fixed-input-container">
    <div class="container-left">
      {{ 'FOOTER.text' | translate }}
    </div>
    <form [formGroup]="emailForm" class="container-center">
      <input [ngClass]="{'left-input': true, 'errorInput': nameError}" class="" type="text" placeholder="{{placeholder}}" formControlName="name">
      <input [ngClass]="{'errorInput': emailError}" type="text" placeholder="{{placeholder2}}" formControlName="email">
    </form>
    <div class="container-right">
      <button (click)="sendEmail()">{{ 'FOOTER.send' | translate }}</button>
    </div>
  </div>
</div>
<app-message-confirm [@showAnimation]="confirmMessage" (onClose)="closePopUp()"></app-message-confirm>