@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/palette.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

h2  {
  font-family: $font-family-bold;
  font-size: 54px;
  letter-spacing: 0.8px;
  color: #ffffff;
}
h3{
  font-family: $font-family-regular;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-top: 32px;
}
.business-container {
  width: 100%;
  margin-top: -1px;
  .first-slide{
    width: 100%;
    height: 1249px;
    background-image: url('/assets/images/business/01.svg');
    background-repeat: no-repeat;
    background-position: center;
    .first-slide-up{
      padding: 0 80px;
      box-sizing: border-box;
      max-width: 1440px;
      margin: 0 auto;
      height: 40%;
      display: flex;
      .left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
      }
      .right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .first-slide-down{
      h2, h3{
        width: 745px;
        margin: 0 auto;
      }
      h2{
        margin-top: 450px;
        text-align:center;
      }
      h3{
        margin-top: 16px;
      }
    }
  }
  .third-slide{
    padding: 0 80px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 80px auto;
    height: 40%;
    display: flex;
    .left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      h2, h3{
        color: black;
      }
    }
    .right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .fourth-slide{
    height: 668px;
    margin: 80px auto 0;
    background-image: url('/assets/images/business/02.svg');
    background-repeat: no-repeat;
    background-position: center;
    .up{
      max-width: 1440px;
      margin: 0 auto;
      height: 50%;
      text-align: center;
      padding-top: 200px;
      box-sizing: border-box;
      h2, h3{
        color: black;
        width: 745px;
        margin: 0 auto;
      }
    }
    .down{
      display: flex;
      justify-content: center;
      height: 50%;
    }
  }
}

.fixed-input-container {
  width: 100%;
  bottom: 20px;
  position: fixed;
}
.footer-container {
  width: 100%;
  background-color: #0f0506;
}

@media only screen and (min-width: 1280px) {
  .business-container{
    .first-slide{
      .first-slide-up{
        padding: 0 56px;
      }
    }
  }
}