<app-header></app-header>
<div class="teams-mobile-container">
  <div class="first-slide">
    <h2>{{ 'TEAMS.firstSlide.h2' | translate }}</h2>
    <h3>{{ 'TEAMS.firstSlide.h3' | translate }}</h3>
    <div class="img-container">
      <img src="assets/images/teams1.svg">
    </div>
  </div>
  <div class="second-slide">
    <div class="img-container">
      <img src="assets/images/teams2.svg">
    </div>
    <h2>{{ 'TEAMS.secondSlide.h2' | translate }}</h2>
    <h3>{{ 'TEAMS.secondSlide.h3' | translate }}</h3>
  </div>
  <div class="third-slide">
    <div class="img-container">
      <img src="assets/images/teams3.svg">
    </div>
    <h2>{{ 'TEAMS.thirdSlide.h2' | translate }}</h2>
    <h3>{{ 'TEAMS.thirdSlide.h3' | translate }}</h3>
  </div>
  <div class="fourth-slide">
    <div class="img-container">
      <img src="assets/images/teams4.svg">
    </div>
    <h2>{{ 'TEAMS.fourthSlide.h2' | translate }}</h2>
    <h3>{{ 'TEAMS.fourthSlide.h3' | translate }}</h3>
  </div>
</div>
<div class="fixed-input-container">
  <app-fixed-input></app-fixed-input>
</div>
<app-footer></app-footer>