<app-header></app-header>
<div class="system-mobile-container">
  <div class="first-slide">
    <h2>{{ 'SYSTEM.firstSlide.h2' | translate }}</h2>
    <h3>{{ 'SYSTEM.firstSlide.h3' | translate }}</h3>
    <div class="img-container">
      <img src="assets/images/system1.svg">
    </div>
  </div>
  <div class="second-slide">
    <div class="img-container">
      <img src="assets/images/system2.svg">
    </div>
    <h2>{{ 'SYSTEM.secondSlide.h2' | translate }}</h2>
    <h3>{{ 'SYSTEM.secondSlide.h3' | translate }}</h3>
  </div>
  <div class="third-slide">
    <div class="img-container">
      <img src="assets/images/system3.svg">
    </div>
    <h2>{{ 'SYSTEM.thirdSlide.h2' | translate }}</h2>
    <h3>{{ 'SYSTEM.thirdSlide.h3' | translate }}</h3>
  </div>
  <div class="fourth-slide">
    <div class="img-container">
      <img src="assets/images/system4.svg">
    </div>
    <h2>{{ 'SYSTEM.fourthSlide.h2' | translate }}</h2>
    <h3>{{ 'SYSTEM.fourthSlide.h3' | translate }}</h3>
  </div>
</div>
<div class="fixed-input-container">
  <app-fixed-input></app-fixed-input>
</div>
<app-footer></app-footer>