.input-style{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(106, 43, 58, 0.02);
    box-shadow: inset 0 0 0 1px rgba(33, 34, 64, 0.06);
}
.contact-input-container{
    width: 94%;
    margin: 0 auto;
    height: 88px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .contact-input-text{
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0.4px;
        color: #0f0506;
    }
    .contact-inputs{
        .input-space{
            margin-right: 30px;
        }
    }
    .contact-input-button{
        button{
            width: 171px;
            height: 50px;
            border-radius: 8px;
            background-color: #0f0506;
            color: white;
        }
    }
}