<div class="bwowers-container" detect-scroll (onScroll)="handleScroll($event)">
  <div class="container-first-slide">
    <div class="first-slide-left">
      <h2>{{ 'BWOWERS.firstSlide.header' | translate }}</h2>
      <h3>{{ 'BWOWERS.firstSlide.text' | translate }}</h3>
    </div>
    <div class="first-slide-right">
      <img src="assets/images/bwowersFirstSlideImg.svg">
    </div>
  </div>
  <div class="fixed-input-container" [@scrollAnimation]="fixedInput">
    <app-fixed-input></app-fixed-input>
  </div>
  <div class="container-title">
    <h2 [@scrollAnimation]="firstTitle" item="animation" data="firstTitle">{{ 'BWOWERS.title.header' | translate }}</h2>
    <h3 [@scrollAnimation]="firstSubtitle" item="animation" data="firstSubtitle">{{ 'BWOWERS.title.text' | translate }}</h3>
  </div>
  <div class="container-second-slide">
    <div class="second-slide-left" [@scrollAnimation]="secondImage" item="animation" data="secondImage">
    </div>
    <div class="second-slide-right">
      <div class="right-content">
        <h2 [@scrollAnimation]="secondTitle" item="animation" data="secondTitle">{{ 'BWOWERS.secondSlide.title' | translate }}</h2>
        <h3 [@scrollAnimation]="secondSubtitle" item="animation" data="secondSubtitle">{{ 'BWOWERS.secondSlide.subtitle' | translate }}</h3>
        <p [@scrollAnimation]="secondParag" item="animation" data="secondParag">{{ 'BWOWERS.secondSlide.text' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="container-third-slide">
    <div class="third-slide-left">
      <div class="left-content">
        <h2 [@scrollAnimation]="thirdTitle" item="animation" data="thirdTitle">{{ 'BWOWERS.thirdSlide.title' | translate }}</h2>
        <h3 [@scrollAnimation]="thirdSubtitle" item="animation" data="thirdSubtitle">{{ 'BWOWERS.thirdSlide.subtitle' | translate }}</h3>
        <p [@scrollAnimation]="thirdParag" item="animation" data="thirdParag">{{ 'BWOWERS.thirdSlide.text' | translate }}</p>
      </div>
    </div>
    <div class="third-slide-right" [@scrollAnimation]="thirdImage" item="animation" data="thirdImage">
    </div>
  </div>
  <div class="container-fourth-slide">
    <div class="fourth-slide-left" [@scrollAnimation]="fourthImage" item="animation" data="fourthImage">
    </div>
    <div class="fourth-slide-right">
      <div class="right-content">
        <h2 [@scrollAnimation]="fourthTitle" item="animation" data="fourthTitle">{{ 'BWOWERS.fourthSlide.title' | translate }}</h2>
        <h3 [@scrollAnimation]="fourthSubtitle" item="animation" data="fourthSubtitle">{{ 'BWOWERS.fourthSlide.subtitle' | translate }}</h3>
        <p [@scrollAnimation]="fourthParag" item="animation" data="fourthParag">{{ 'BWOWERS.fourthSlide.text' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="container-fifth-slide">
    <h2 [@scrollAnimation]="fifthTitle" item="animation" data="fifthTitle">{{ 'BWOWERS.fifthSlide.header' | translate }}</h2>
    <h3 [@scrollAnimation]="fifthTitle" item="animation" data="fifthTitle">{{ 'BWOWERS.fifthSlide.text' | translate }}</h3>
    <div class="logos-container" [@scrollAnimation]="fifthImage" item="animation" data="fifthImage">
      <img class="arrowLeft" src="assets/images/arrowLeft.svg">
      <img src="assets/images/fintonicLogo.svg">
      <img src="assets/images/flippitLogo.svg">
      <img src="assets/images/acompartirLogo.svg">
      <img class="vamosLogo" src="assets/images/vamosLogo.png">
      <img class="arrowRight" src="assets/images/arrowRight.svg">
    </div>
  </div>
  <div class="container-sixth-slide">
    <a href="https://www.behance.net/bwow" target="_blank">
      <button >{{ 'BWOWERS.sixthSlide.button' | translate }}</button>
    </a>
  </div>
</div>
<div class="footer-container">
  <app-footer></app-footer>
</div>