@import '../../../../styles/palette.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

.footer-container-mobile{
  width: 100%;
  background: #0f0506;
  color: white;
  padding: 67px 16px 63px;
  box-sizing: border-box;
  font-family: $font-family-bold;

  .container-left{
    .anchor-item{
      font-family: $font-family-regular;
      margin-left: 17px;
      margin-top: 16px;
    }
  }
  .container-right{
    .anchor{
      margin-top:24px;
    }
  }
  .footer-container-bottom{
    font-family: $font-family-regular;
    margin-top: 76px;
      .email{
        margin-top: 16px;
      }
  }
  .rectangleContainer{
    margin-top: 63px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .rectangle{  
      width: 32px;
      height: 32px;
      background-color: #d8d8d8;
    }
  }
}
