<div class="footer-container-mobile">
  <div class="footer-container-top">
    <div class="container-left">
      <div class="anchor" routerLink="/what-we-do"><a>{{ 'HEADER.anchor1' | translate }}</a></div>
      <div class="anchor-item">{{ 'FOOTER.leftContainer.anchorItem1' | translate }}</div>
      <div class="anchor-item">{{ 'FOOTER.leftContainer.anchorItem2' | translate }}</div>
      <div class="anchor-item">{{ 'FOOTER.leftContainer.anchorItem3' | translate }}</div>
      <div class="anchor-item">{{ 'FOOTER.leftContainer.anchorItem4' | translate }}</div>
      <div class="anchor-item">{{ 'FOOTER.leftContainer.anchorItem5' | translate }}</div>

    </div>
    <div class="container-right">
      <div class="anchor" routerLink="/bwowers"><a>{{ 'HEADER.anchor2' | translate }}</a></div>
      <div class="anchor" routerLink="/contact"><a>{{ 'HEADER.anchor3' | translate }}</a></div>
    </div>
  </div>
  <div class="footer-container-bottom">
    <p><a href="tel:+34669966589">+34 669 966 589</a> / <a href="tel:+34680201002">+34 680 201 002</a></p>
    <a href="mailto:hi@bwowstudio.com"><p class="email">hi@bwowstudio.com</p></a>
    <p class="email">© 2019 Copyright</p>
  </div>
  <div class="rectangleContainer">
    <a target="_blank" href="https://medium.com/@bwowstudio">
    <img src="assets/images/footer/medium.svg" alt="">
    </a>
      <a target="_blank" href=" https://www.linkedin.com/company/bwowstudio">
      <img src="assets/images/footer/linkedin.svg" alt="">
      </a>
      <a target="_blank" href="https://www.behance.net/bwow">
      <img src="assets/images/footer/behance.svg" alt="">
      </a>
      <a target="_blank" href="https://twitter.com/bwowstudio">
      <img src="assets/images/footer/twitter.svg" alt="">
      </a>
      <a target="_blank" href="https://www.instagram.com/bwowstudio/">
      <img src="assets/images/footer/instagram.svg" alt="">
      </a>
      <a target="_blank" href="https://open.spotify.com/user/7bm4oxjh46jwtuvufqibkt6mk/playlist/1ZqAR1Ldo2v5kkEmrTHRPy?si=AMH2nGB8R2-bQlXD8Sadyw">
        <img src="assets/images/footer/spotify.png" alt="">
      </a>
  </div>
</div>