<div class="cookies-text-wrapper">
    <div class="first-paragraph">
      <h3 class="title">{{ 'COOKIES.firstParagraph.title' | translate }}</h3>
      <p class="description">
          {{ 'COOKIES.firstParagraph.description' | translate }}
      </p>
    </div>
    <div class="second-paragraph">
        <h3 class="title">{{ 'COOKIES.secondParagraph.title' | translate }}</h3>
        <p class="description">
            {{ 'COOKIES.secondParagraph.description' | translate }}
        </p>
      </div>
      <div class="third-paragraph">
          <h3 class="title">{{ 'COOKIES.thirdParagraph.title' | translate }}</h3>
          <p class="description">
              {{ 'COOKIES.thirdParagraph.description' | translate }}
          </p>
        </div>
        <div class="fourth-paragraph">
            <h3 class="title">{{ 'COOKIES.fourthParagraph.title' | translate }}</h3>
            <p class="description">
                {{ 'COOKIES.fourthParagraph.description' | translate }}
            </p>
            <br>
            <p>{{ 'COOKIES.fourthParagraph.extraInfo' | translate }}</p>
          </div>
  </div>
<app-footer-mobile></app-footer-mobile>