@import '../../../../styles/mixins.scss';
@import '../../../../styles/fonts.scss';

div {
  @include div;
}
.home-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
  background-image: url('/assets/images/homeTransition.svg');
  background-size: 100vw;
  background-repeat: no-repeat;
  .first-row {
    width: 100%;
    height: 13%;
    border-bottom: dashed 1px #ffffff;
  }
  .second-row {
    width: 100%;
    height: 27%;
    border-bottom: dashed 1px #ffffff;
  }
  .third-row {
    width: 100%;
    height: 14.5%;
    border-bottom: dashed 1px #ffffff;
  }
  .fourth-row {
    width: 100%;
    height: 45.5%;
  }
  .first-row,
  .second-row,
  .third-row,
  .fourth-row {
    display: flex;
    .cell-1,
    .cell-2,
    .cell-3,
    .cell-4,
    .cell-5,
    .cell-6,
    .cell-7,
    .cell-8,
    .cell-9,
    .cell-10,
      {
      border-right: 1px dashed #ffffff;
      display: flex;
      align-items: flex-end;
      h3 {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.3px;
        color: #ffffff;
        cursor: pointer;
      }
    }
    .cell-1 {
      width: 6%;
    }
    .cell-2 {
      width: 40%;
    }
    .cell-3 {
      width: 11.5%;
    }
    .cell-4 {
      width: 4.5%;
    }
    .cell-5 {
      width: 7%;
    }
    .cell-6 {
      width: 4.5%;
    }
    .cell-7 {
      width: 8.5%;
    }
    .cell-8 {
      width: 8%;
    }
    .cell-9 {
      width: 4%;
    }
    .cell-10 {
      width: 6%;
      border: none;
    }
  }
}
.home-container {
  .first-row {
    .cell-7 {
      justify-content: flex-end;
    }
    .cell-8 {
      justify-content: center;
    }
    .cell-9 {
      justify-content: space-between;
    }
  }
  .third-row {
    .cell-2 {
      font-size: 48px;
      font-weight: bold;
      letter-spacing: 0.8px;
      color: #ffffff;
    }
  }
  .fourth-row {
    .cell-3 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      img {
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
}