@import '../../../../styles/mixins.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/variables.scss';
div {
  @include div;
}
h3 {
  font-size: $header-font-size;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #ffffff;
  cursor: pointer;
}
.home-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
  background-image: url('/assets/images/homeTransition.svg');
  background-size: 100vw;
  background-position-x: center;
  background-repeat: no-repeat;
  font-family: $font-family-bold;
  .first-row {
    width: 100%;
    border-bottom: dashed 1px rgba(135, 130, 130, 0.3);
    height: 71px;
  }
  .second-row {
    width: 100%;
    height: 27%;
    border-bottom: dashed 1px rgba(135, 130, 130, 0.3);
  }
  .third-row {
    width: 100%;
    height: 120px;
    border-bottom: dashed 1px rgba(135, 130, 130, 0.3);
    line-height: 54px;
    font-size: 54px;
    color: #ffffff;
  }
  .fourth-row {
    width: 100%;
    height: 45.5%;
  }
  .first-row,
  .second-row,
  .third-row,
  .fourth-row {
    display: flex;
    .cell-1,
    .cell-2,
    .cell-3,
    .cell-4,
    .cell-5,
    .cell-6,
    .cell-7,
    .cell-8,
    .cell-9,
    .cell-10,
      {
      border-right: 1px dashed rgba(135, 130, 130, 0.3);
      display: flex;
      align-items: flex-end;
    }
    .cell-1 {
      flex: 1;
    }
    .cell-2 {
      width: 40%;
      .logoWhite{
        width: 176px;
        height: 26px;
      }
    }
    .cell-3 {
      width: 136px;

    }
    .cell-4, .cell-6, .cell-8 {
      flex: 1;
    }
    .cell-5 {
      width: 80px;
    }
    .cell-7 {
      width: 106px;
    }
    .cell-9 {
      width: 52px;
    }
    .cell-10 {
      flex: 1;
      border: none;
    }
  }
}
.home-container {
  .first-row {
    .cell-7 {
      justify-content: flex-end;
    }
    .cell-8 {
      justify-content: center;
    }
    .cell-9 {
      justify-content: space-between;
    }
  }
  .third-row {
    .cell-2 {
      font-size: 48px;
      font-weight: bold;
      letter-spacing: 0.8px;
    }
  }
  .fourth-row {
    .cell-3 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      img {
        position: absolute;
        bottom: 70px;
        cursor: pointer;
      }
      .oval{
        width: 136px;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
@media only screen and (min-width: $resolution-1440-width) {
  .home-container {
    // width: $resolution-1440-width;
    // margin: auto;
  }
}

.text{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}