<app-header></app-header>
<div class="business-mobile-container">
  <div class="first-slide">
    <h2>{{ 'BUSINESS.firstSlide.h2' | translate }}</h2>
    <h3>{{ 'BUSINESS.firstSlide.h3' | translate }}</h3>
    <div class="img-container">
      <img src="assets/images/business1.svg">
    </div>
  </div>
  <div class="second-slide">
    <div class="img-container">
      <img src="assets/images/business2.svg">
    </div>
    <h2>{{ 'BUSINESS.secondSlide.h2' | translate }}</h2>
    <h3>{{ 'BUSINESS.secondSlide.h3' | translate }}</h3>
  </div>
  <div class="third-slide">
    <div class="img-container">
      <img src="assets/images/business3.svg">
    </div>
    <h2>{{ 'BUSINESS.thirdSlide.h2' | translate }}</h2>
    <h3>{{ 'BUSINESS.thirdSlide.h3' | translate }}</h3>
  </div>
  <div class="fourth-slide">
    <div class="img-container">
      <img src="assets/images/business4.svg">
    </div>
    <h2>{{ 'BUSINESS.fourthSlide.h2' | translate }}</h2>
    <h3>{{ 'BUSINESS.fourthSlide.h3' | translate }}</h3>
  </div>
</div>
<div class="fixed-input-container" [hidden]="isHideFixedInput">
  <app-fixed-input></app-fixed-input>
</div>
<app-footer></app-footer>