<app-header></app-header>
<div class="business-mobile-container">
  <div class="first-slide">
    <h2 class="fadeIn">{{ 'BUSINESS.firstSlide.h2' | translate }}</h2>
    <h3 class="fadeIn">{{ 'BUSINESS.firstSlide.h3' | translate }}</h3>
    <div class="img-container fadeIn">
      <img src="assets/images/business1.svg">
    </div>
  </div>
  <div class="second-slide">
    <div class="img-container">
      <img src="assets/images/business2.svg" [@scrollAnimation]="firstImage" item="animation" data="firstImage">
    </div>
    <h2 [@scrollAnimation]="firstTitle" item="animation" data="firstTitle">{{ 'BUSINESS.secondSlide.h2' | translate }}</h2>
    <h3 [@scrollAnimation]="firstSubtitle" item="animation" data="firstSubtitle">{{ 'BUSINESS.secondSlide.h3' | translate }}</h3>
  </div>
  <div class="third-slide">
    <div class="img-container">
      <img src="assets/images/business3.svg" [@scrollAnimation]="secondImage" item="animation" data="secondImage">
    </div>
    <h2 [@scrollAnimation]="secondTitle" item="animation" data="secondTitle">{{ 'BUSINESS.thirdSlide.h2' | translate }}</h2>
    <h3 [@scrollAnimation]="secondSubtitle" item="animation" data="secondSubtitle">{{ 'BUSINESS.thirdSlide.h3' | translate }}</h3>
  </div>
  <div class="fourth-slide">
    <div class="img-container">
      <img src="assets/images/business4.svg" [@scrollAnimation]="thirdImage" item="animation" data="thirdImage">
    </div>
    <h2 [@scrollAnimation]="thirdTitle" item="animation" data="thirdTitle">{{ 'BUSINESS.fourthSlide.h2' | translate }}</h2>
    <h3 [@scrollAnimation]="thirdSubtitle" item="animation" data="thirdSubtitle">{{ 'BUSINESS.fourthSlide.h3' | translate }}</h3>
  </div>
</div>


<div class="fixed-input-container">
  <app-fixed-input></app-fixed-input>
</div>
<app-footer></app-footer>