@import '../../../styles/palette.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

$footer-resolution-less-than-1024-padding-left-right: 56px;
$footer-resolution-1024-padding-left-right: 80px;
$footer-resolution-1280-padding-left-right: 80px;
$footer-resolution-1440-padding-left-right: 56px;

.footer-container{
  width: 100%;
  background-color: #0f0506;
  padding:  128px 0 76px 76px;
  color: #fff;
  letter-spacing: 0.3px;
  font-size: 16px;
  font-family: $font-family-bold;
  box-sizing: border-box;
  .footer-container-top{
    width: 100%;
    display: flex;
    .container-left{
      width: 33.33%
    }
    .container-center{
      width: 33.33%
    }
    .container-right{
      width: 33.33%
    }
  }
  .footer-container-bottom{
    margin-top: 112px;
    font-family: $font-family-regular;
    .email{
      margin-top: 16px;
    }
  }
}
.anchor {
  margin-bottom: 24px;
  cursor: pointer;
}
.anchor-item{
  font-family: $font-family-regular;
  margin-bottom: 16px;
  margin-left: 17px;
  cursor: pointer;
}

@media only screen and (min-width: $resolution-1024-width) {
  .footer-container{
    padding:  128px $footer-resolution-1024-padding-left-right 76px $footer-resolution-1024-padding-left-right;
  }
}
@media only screen and (min-width: $resolution-1280-width) {
  .footer-container{
    padding:  128px $footer-resolution-1280-padding-left-right 76px $footer-resolution-1280-padding-left-right;
  }
}

@media only screen and (min-width: $resolution-1440-width) {
  .footer-container{
    @include center-hight-resolutions;
    padding:  128px $footer-resolution-1440-padding-left-right 76px $footer-resolution-1440-padding-left-right;
  }
}