.cookie-message-wrapper {
  position: fixed;
    background-color: #171717;
    height: auto;
    padding: 30px 0;
    border-radius: 8px;
    width: 45%;
    right: 80px;
    bottom: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      padding-left: 30px;
      color: #fff;
      font-size: 26px;
      margin-bottom: 20px;
    }
  .message-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    align-items: flex-end;
    padding: 0 30px;
    box-sizing: border-box;
  }
  p {
    color: #fff;
    font-weight: 300;
    margin: 0;
    font-size: 14px;
    margin-right: 30px;
    width: 70%;
    line-height: 20px;
  }
  p a {
    color: #fff;
    font-weight: 300;
    margin: 0;
    font-size: 15px;
    margin-right: 30px;
    border-bottom: 1px solid #fff;
  }
  span {
    color: #fff;
    display: flex;
    height: 42px;
    width: 128px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
  }
}


@media only screen and (max-width: 600px) {
  .cookie-message-wrapper {
    height: auto;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    right: 0;
    z-index: 100;
    h3 {
      display: none;
    }
    .message-container {
      flex-direction: column;
      padding: 0 16px;
      align-items: center;
      p {
        margin-right: 0;
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
}
