<div class="header-container">
  <div class="header-container-left">
    <img src="assets/images/logoBlack.svg" alt="logo-black">
  </div>
  <div class="header-container-right">
    <div class="header-link">{{ 'HEADER.menu1' | translate }}</div>
    <div class="header-link">{{ 'HEADER.menu2' | translate }}</div>
    <div class="header-link">{{ 'HEADER.menu3' | translate }}</div>
    <div class="header-divider">|</div>
    <div class="header-language-switch">EN</div>
    <div class="header-language-switch header-language">ES</div>
  </div>
</div>